# Don't track DPMUnc intermediate files
alpha.csv
clusterAllocations.csv
clusterMeans.csv
clusterVars.csv
pLatentsGivenClusters.csv
K.csv
latentObservations.csv
# Don't track slurm logs nor html files (heavy!)
*.err
*.html
*.gz
*.bgz
code/.#04-Create_custom_PSM_heatmaps.R
# Ignore old stuff and things we didn't use in the final version
code/2022/
code/not_used/
# Ignore pre-processing, where we omit unauthorised files
code/00a-Prefilter_projections.R

# Ignore unused figures and old stuff
figures/not_used/
figures/202110_Oct21/
figures/202111_Nov21/
figures/202201_Jan22/
figures/202202_Feb22/

# Ignore unused tables and old stuff
tables/2022/
tables/old/