# Don't track DPMUnc intermediate files
alpha.csv
clusterAllocations.csv
clusterMeans.csv
clusterVars.csv
pLatentsGivenClusters.csv
K.csv
latentObservations.csv
# Don't track slurm logs nor html files (heavy!)
*.err
*.html
*.gz